<div class="centered">
 <p>
Android / T-Mobile G1 / Google phone users. <br/>
IceCondor client for Android smartphones
 </p>
 <table>
  <tr>
    <td> version: </td> <td>2009-02-05</td>
  </tr>
  <tr>
    <td> installed size: </td> <td>224kb</td>
  </tr>
 </table>
 <p>
 <%# link_to "Download IceCondor from the android market", "market://search?q=pname:com.icecondor.nest", {:style => "font-size: 150%"} %>
 <%= link_to "Download IceCondor from the android market", "market://search?q=icecondor", {:style => "font-size: 150%"} %>
 <%# link_to "Download IceCondor from the android market", "market://details?id=com.icecondor.nest", {:style => "font-size: 150%"} %>
 <%# link_to "Download IceCondor", "/download/icecondor-v20090205.apk", {:style => "font-size: 150%"} %>
 </p>
</div>

