<% form_for @script do |form| %>

 <ul>
  <li> Name: <%= form.text_field :name %> </li>

  <li> <%= form.submit %> </li>
 </ul>
<% end %>


<script src="demo/require.js" type="text/javascript" charset="utf-8"></script>
<script src="demo/boot.js" type="text/javascript"></script>


