<% content_for :header do %>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <%= javascript_include_tag "geopoly.js" %>
<% end %>


<h3>Define a GeoFence. </h3>
<%
  if current_user.locations.count > 0 
    centerpoint = [current_user.locations.last.latitude, current_user.locations.last.longitude]
  else
    centerpoint = [45.586, -122.668] #arbitrary
  end
%>
<%= render :partial => "gmap_edit", :locals => {:geojson => {},
                                                :centerpoint => centerpoint} %>

