.centered {
  text-align:center;
}
.footer {
  margin-top: 15px;
  font-size: 80%;
}
.clear {
  clear: both;
}

.colorbar {
  background: white;
}

.bigger {
  font-size: 200%;
}

.tight {
  margin-top: 0px;
  margin-bottom: 0px;
}
.folderfolder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.folder {
  float: left;
  margin: 10px;
  height: 200px;
}
