<% user = current_user %>

<div class="center" style="width: 80%">
 <h4> Profile for <%= user.username %> </h4>

 <h5> Stats </h5>
 Total updates: <%= Location.count_for_user(user) %>
</div>

<%= link_to "logout", :controller => :sessions, :action => :logout %>
