<h1>Authorize access to your account</h1>
<p>IceCondor, the  android application, is trying to save
GPS position data to your account on icecondor.com. Having
position data recorded to icecondor.com means you can share
that information with others.</p>
<p>Would you like to authorize the storage of position records 
from your phone into your web account on icecondor.com?</p>
<%form_tag authorize_url do %>
<%=hidden_field_tag "oauth_token",@token.token%>
<%-if params[:oauth_callback]-%>
<%=hidden_field_tag "oauth_callback", params[:oauth_callback]%>
<%-end-%>
<p>
	<%=check_box_tag 'authorize'%> authorize access
</p>
<p>
	<%=submit_tag%>
</p>
<%end%>
