Upon entering the GeoFence "<%= @fence.name %>", take the following action:
<div id="triggerbuttons">
  <ul>
   <% options = [["Send an email", :email],
                 ["Check in to Foursquare", :foursquare],
                 ["Blur my location", :blur],
                 ["Execute a script", :script]] %>

    <% options.each do |option| %>
    <li>
      <%= button_to(option.first, {:action => :create,
                                      :trigger => {:action => option.last, :fence_id => @fence.id}},
                                     {:class=>"wideroundsubmit"}) %>
    </li>
    <% end  %>
  <ul>
</div>
