   <script src="/javascripts/raphael-1.4.3-min.js"></script>
   <script>
    Event.observe(window, 'load', function() { start() });

    function start() {
      var paper = Raphael(document.getElementById("chart"), 320, 200);

      // circle
      //var c = paper.circle(50, 50, 40);
      //c.hover(function (event) {
      //    this.attr({fill: "red"});
      //}, function (event) {
      //    this.attr({fill: "black"});
      //});

      // line
      var c = paper.path("M0 200L320 200");
      var marks = <%= @buckets.inspect %>;
      for (var idx = 0; idx < marks.length; idx++) {
        var c = paper.circle(idx, 190, marks[idx]*5);
        c.attr("fill", "blue");
      }
    }
   </script>

DayChart. <%= @locations.size %> locations from <%= @locations.first.timestamp %> to <%= @locations.last.timestamp %>
<div id="chart">
</div>

