  <% if flash[:error] %>
    <div class="flash error">
    <%=h flash[:error] %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div style="background:yellow">
    <%=h flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div style="background:yellow">
    <%=h flash[:alert] %>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div style="background:green">
    <%=h flash[:success] %>
    </div>
  <% end %>
