<div class="centered footer">
©2010 Don Park 
| <%= link_to "Blog", "/blog" %> 
| <%= link_to "Documentation", :controller => :dashboard, :action => :android %> 
| <%= link_to "Get Satisfaction", "http://getsatisfaction.com/icecondor" %>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-139014-5");
pageTracker._trackPageview();
} catch(err) {}</script>
