<div class="centered footer">
©2009 Don Park |  <%= link_to "Android Documentation", :controller => :dashboard, :action => :android %> | <%= link_to "Get Satisfaction", "http://getsatisfaction.com/icecondor" %>
</div>
